//font-family: 'Inter', sans-serif; --textos
//font-family: 'Prata', serif; --titulos

::selection {
    background-color: rgb(255, 223, 45);
    color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.561);
    font-size: 22px;
    font-weight: 100;
    line-height: 35px;
}

h1, h2, h3 {
    font-family: 'Prata', serif;
    color: white;
    line-height: 80px;
}

h1 {
    font-size: 3rem;
}

body {
    background-color: black;
}

button {
    font-family: 'Prata', sefif;
    color: black;
    font-weight: 600;
    background-color: rgb(255, 223, 45);
    padding: 15px 30px;
    border: none;
    border-radius: 2px;

    &:hover {
        background-color: rgba(255, 223, 45, 0.781);
        cursor: pointer;
    }
}

//=================================================

header {
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li a {
        text-decoration: none;
        margin-right: 30px;
    }

    li a:hover {
        color: white;
    }
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.main-section {
    width: 60%;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.cases {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.case {
    display: flex;
    flex-direction: column;
    max-width: 650px;

    h2 {
        font-size: 2rem;
        margin-top: 20px;
    }
}


.description {
    width: 100%;
    background-color: #3d3d3d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.greyContainer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;

    h2 {
        font-size: 2rem;
        line-height: normal;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 30px;
    }

    div {
        max-width: 650px;
    }
}

.contact {
    max-width: 650px;
    padding: 100px 0;

    h2 {
        font-size: 2rem;
        line-height: normal;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 30px;
    }
}

.footer {
    max-width: 1400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
        width: 2rem;
    }
}

.greyFooter {
    width: 100%;
    background-color: #3d3d3d;
}
